<h2 class="page-header">Admin</h2>
<form action='/admin/reloadcollection'>
<div>
    <button type="button" onClick=submit() class="btn btn-primary">Reload collection</button>
</div>
</form>

<form action='/admin/reloadprices'>
<div>
    <button type="button" onClick=submit() class="btn btn-primary">Reload prices</button>
</div>
</form>


