<h2 class="page-header">Dashboard</h2>
<div>
    <h3>Recently added releases</h3>
    <table class="table table-striped">
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>
</div>
